@keyframes popLeft {
    from    {
        left: 0;
    }
    to {
        left: 30px;
    }
}

.title {
    color: darkblue;
    position: relative;

    left:30px;

    cursor: pointer;

    animation-name: popLeft;

    /*transition-property: popLeft;*/
    transition-duration: 3s;
    /*transition-timing-function: ease-in;*/
    /*transition-delay: 1s;*/

    animation: popLeft ease-out 2s;
}

.title:hover {
    color:blueviolet;
}